/*
Stylesheet for home page
*/

.menuList h3 {
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    font-size: 18px;
}

.menuList > div {
    font-size: 17px;    
    margin: 5px 0px;
}

.menuList > div > a:hover {
    text-decoration: underline;
}

