/*
Stylesheet that goes along with search.css but contains 
styling for response design and resizing
*/

@media only screen and (max-width: 750px) {

    /*
    adjusts results labels 
    */

    #searchResultHeader #podcastLabel {
        left: 20px;
    }

    /* 
    make search results smaller 
    */

    /* hide thumbnail */
    .searchResult .thumbnail {
        width: 50px;
        height: 50px;
        display: none;
    }

    .searchResult .stats {
        height: 50px;
        line-height: 50px;
    }

    .searchResult .metadata > * {
        padding: 2px 0px 3px 0px;
        padding-left: 20px;
    }


}

