/* 
Stylesheet for generic template page displaying search results
or subscription lists

Note: some styles are set to display: none here but made
visible by the mobile stylesheet template.mobile.css
*/

html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #ebebeb;
}

/*
===========================================
General - mostly stuff to get rid of default styling
===========================================
*/

a {
    text-decoration: inherit;
    color: inherit;
    font-size: inherit;
    cursor: pointer;
}

input {
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-radius: 0px;
}

* {
    box-sizing: border-box;
    outline: none;
    /* remove background on mobile tap */
    -webkit-tap-highlight-color: transparent;
}

input::placeholder {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    opacity: 1;
}

::-webkit-input-placeholder {
    color: #ffffff;
}
::-moz-placeholder {
    color: #ffffff;
}
:-ms-input-placeholder {
    color: #ffffff;
}
:-moz-placeholder {
    color: #ffffff;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

li {
    display: inline-block;
}

.inputToggle {
    display: none;
}

/*
===========================================
Basic Page Structure
===========================================
*/

body:before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 230px;
    background: #5fa8ef;
    z-index: -1;
}

/*
===========================================
Header - top section of screen
===========================================
*/

header {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 30px 40px;
    padding-bottom: 50px;
}

header:after {
    content: "";
    clear: both;
    display: block;
}

header > div {
    height: 60px;
}

/*
-------------------------------------------
Title Section - left section of header
-------------------------------------------
*/

header #titleSection {
    float: left;
    line-height: 60px;
    padding-right: 30px;
    width: 230px;
    font-size: 0px;
}

header #titleSection #title {
    display: inline-block;
    font-size: 23px;
    font-weight: bolder;
    color: #ffffff;
    vertical-align: middle;
    line-height: initial;
}

header #titleSection #title span {
    font-size: 16px;
    font-weight: normal;
    color: #c8d9f3;
    display: block;
    letter-spacing: initial;
}

/* Button to toggle sidebar on mobile */
header #titleSection #menuSidebarToggle {
    color: #ffffff;
    text-align: left;
    line-height: 60px;
    height: 60px;
    font-size: 25px;
    top: 0px;
    width: 45px;
    float: left;
    cursor: pointer;
    display: none; /* mobile template makes visible */
}

/*
-------------------------------------------
Search Section - center of header
-------------------------------------------
*/

header #searchBar form {
    position: relative;
    overflow: hidden;
    height: 60px;
}

header #searchBar #searchInput {
    width: 100%;
    padding: 0px 20px 0px 60px;
    height: 100%;
    border-radius: 2px;
    background: #a2c2f1;
    color: #ffffff;
    font-size: 15px;
}

header #searchBar #searchInput + label,
header #searchBar #searchBarToggle {
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    margin: auto;
    background-image: url("../imgs/search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    cursor: pointer;
}

header #searchBar #searchInput + label:hover {
    opacity: 0.6;
}

/* action on focus search bar */

header #searchBar.focused #searchInput {
    background: #ffffff;
    color: #606060;
}

header #searchBar.focused #searchInput::placeholder {
    color: #606060;
}

header #searchBar.focused #searchInput {
    background: #ffffff;
}

header #searchBar.focused #searchInput + label {
    background-image: url("../imgs/backspace.svg");
}

/*
Minimized version of search bar
*/

header #searchBar #searchBarToggle {
    position: relative;
    float: right;
    width: 30px;
    height: 30px;
    margin-top: 15px;
    background-size: 100%;
    display: none;
}

header #searchBarToggleStatus:checked + #searchBar {
    position: absolute;
    left: 40px;
    right: 40px;
}

header #searchBarToggleStatus:checked + #searchBar form {
    display: block;
}

header #searchBarToggleStatus:checked + #searchBar form #searchInput {
    display: block;
}

header #searchBarToggleStatus:checked + #searchBar #searchBarToggle {
    display: none;
}

/*
-------------------------------------------
Settings Menu - right section of header
-------------------------------------------
*/

/* Menu area styling */

header #settingsMenu {
    float: right;
    padding-left: 30px;
    line-height: 60px;
    position: relative;
    margin-top: -1px; /* some weird offset glitch */
}

header #settingsMenu #navMenu {
    display: inline-block;
    background: #ffffff;
    font-size: 0px;
    height: 60px;
    position: relative;
    border-radius: 2px;
}

header #settingsMenu #navMenu li {
    height: 100%;
}

header #settingsMenu #navMenu li a {
    font-size: 13px;
    font-weight: bolder;
    color: #656565;
    text-transform: uppercase; /* make menu buttons uppercase */
    padding: 0px 20px;
    display: inline-block;
    height: 100%;
    position: relative;
}

header #settingsMenu #navMenu li.active a {
    color: #51a543;
}

header #settingsMenu #navMenu li.active a:before {
    display: block;
    position: absolute;
    content: "";
    background: #51a543;
    left: 20px; /* cancel out padding */
    right: 20px;
    width: auto;
    top: 0px;
    height: 5px;
}

/* Expanding styling for menu */

header #settingsMenu #navMenu #navMenuToggle {
    height: 100%;
}

/* Triple ellipses button to expand menu */
header #settingsMenu #navMenu #navMenuToggle div {
    font-size: 13px;
    font-weight: bolder;
    color: #656565;
    text-transform: uppercase;
    padding: 0px 20px;
    display: inline-block;
    height: 100%;
    position: relative;
    background-image: url("../imgs/horiz.svg");
    background-repeat: no-repeat;
    background-position: left center;
    cursor: pointer;
    opacity: 0.6;
}

header #settingsMenu #navMenu li {
    display: none;
}

header #settingsMenu #navMenu.expanded  li {
    display: inline-block;
}

header #settingsMenu #navMenu.expanded #navMenuToggle {
    display: none !important;
}

header #settingsMenu #navMenu li.firstThree {
    display: inline-block;
}

/* Button that toggles navMenu on mobile */
header #settingsMenu #navMenuToggleView {
    line-height: 60px;
    cursor: pointer;
    width: 60px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    display: block;
    float: left;
    color: #ffffff;
    margin-top: 1px; /* fix weird offset glitch */
    display: none; /* made visible in mobile stylesheet */
}

/* Button that closes menu on mobile */
header #settingsMenu #navMenuClose {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 40px;
    cursor: pointer;
    color: #ffffff;
    display: none; /* made visible in mobile stylesheet */
}

/* User icon styling */

header #settingsMenu #userMenuButton {
    background-image: url("../imgs/account.svg");
    background-color: #bfbfbf;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120%; 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    cursor: pointer;
}

/*
-------------------------------------------
User Menu Styling
-------------------------------------------
*/

#userMenu {
    position: fixed;
    background: #ffffff;
    border-radius: 2px;
    top: 105px;
    right: 40px;
    width: 200px;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: none; /* initially hidden */
}

/* reveal menu */
#userMenu.maximized {
    display: block;
}

/* little triangle pointing up to user icon */
#userMenu:before {
    content: "";
    display: block;
    position: absolute;
    top: -11px;
    right: 8px;
    width: 0; 
    height: 0; 
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #ffffff;
}

#userMenu > span {
    display: block;
    text-align: center;
    border-bottom: 1px solid #cecece;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 15px;
    width: 200px;
}

#userMenu > a {
    display: block;
    padding: 15px 10px;
    text-align: center;
    line-height: normal;
}

#userMenu > a:hover {
    background: #f5f5f5;
}

/*
===========================================
Main - everything below the header
===========================================
*/

#main {
    position: relative;
    display: block;
    padding: 0px 40px 30px 270px;
    padding-bottom: 0px;
}

/*
-------------------------------------------
Sidebar - menu on the left of screen
-------------------------------------------
*/

#sidebar {
    left: 0px;
    position: absolute;
}

/* only displays for mobile */
#sidebar #sidebarHead {
    display: none; /* mobile template makes visible */
    position: relative;
}

/* button to close sidebar */
#sidebar #sidebarHead i {
    background-color: #759494;
    color: #caf6f6;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    font-size: 23px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 40px;
    margin: auto;
    cursor: pointer;
}

/*
Top Sidebar - upper section with only 2 buttons
*/

#main #sidebar #topSidebar {
    height: 90px;
    line-height: 90px;
    padding-left: 40px;
    position: relative;
    font-size: 0px;
    margin-bottom: 20px;
}

#main #sidebar #topSidebar > * {
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-right: 15px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    background-color: #93b8ee;
    border-radius: 50%;
    cursor: pointer;
}

/* Icons in top sidebar */

#main #sidebar #topSidebar #dashboardLink {
    background-image: url("../imgs/dashboard.svg");
}

#main #sidebar #topSidebar #suggestionLink {
    background-image: url("../imgs/lightbulb.svg");
}

/* Icon hover action */

#main #sidebar #topSidebar > *:hover {
    background-color: #ffffff;
}

#main #sidebar #topSidebar #dashboardLink:hover {
    background-image: url("../imgs/dashboard.hover.svg");
}

#main #sidebar #topSidebar #suggestionLink:hover {
    background-image: url("../imgs/lightbulb.hover.svg");
}

/*
Bottom Sidebar - menu on left with vertically stacked links
*/

#main #sidebar #menuSidebar {
    position: relative;
    width: 270px;
}

#main #sidebar #menuSidebar li {
   display: block;
   width: 100%;
}

#main #sidebar #menuSidebar li a {
    display: block;
    padding: 15px 15px 15px 40px;
    font-weight: bolder;
    font-size: 15px;
    color: #4f4f4f;
}

/* when link is hovered or already active */
#main #sidebar #menuSidebar li a:hover,
#main #sidebar #menuSidebar li.active {
    background: #F3F3F3;
}

#main #sidebar #menuSidebar .menuBox {
    padding: 15px 15px 15px 40px;
    color: #4f4f4f;
    font-size: 14px;
}

#main #sidebar #menuSidebar .menuBox select {
    margin-left: 10px;
    padding: 5px 10px;
    width: 150px;
    float: right;
}

#main #sidebar #menuSidebar .menuBox input {
    padding: 10px;
    width: 100%;
    color: #474747;
    border-bottom: 2px solid #b2b2b2;
    background: transparent;
}

/* make placeholder black so it can be seen */

#main #sidebar #menuSidebar .menuBox input::placeholder {
    color: #9e9e9e;
    font-family: 'Lato', sans-serif;
    opacity: 1;
}

#main #sidebar #menuSidebar .menuBox ::-webkit-input-placeholder {
    color: #9e9e9e;
}
#main #sidebar #menuSidebar .menuBox ::-moz-placeholder {
    color: #9e9e9e;
}
#main #sidebar #menuSidebar .menuBox :-ms-input-placeholder {
    color: #9e9e9e;
}
#main #sidebar #menuSidebar .menuBox :-moz-placeholder {
    color: #9e9e9e;
}

#main #sidebar #menuSidebar .menuBox .menuBoxSection {
    margin-bottom: 15px;
    height: 30px;
    line-height: 30px;
}

/*
===========================================
Content - the actually important stuff
===========================================
*/

#content {
    background: white;
    border-radius: 2px;
    border: 1px solid #d1d1d1;
    position: relative;
}

/*
===========================================
Footer
===========================================
*/

footer {
   width: 100%;
   height: 100px;
   text-align: center;
   color: #969696;
   font-size: 16px;
}

footer > span {
    display: block;
    margin-top: 30px;
}

footer > div {
    margin-top: 10px;
}

footer > div > a {
    margin: 0px 10px;
}