{# Page for user login #}

{% extends 'user/base.html' %}

{# override content block to add login form #}
{% block content %}
<form action="/login/" method="post">
    {% csrf_token %}

    {# display error message if couldn't authenticate #}
    {% if error %}
    <div id="errorMesg">
        Incorrect Username or Password
    </div>
    {% endif %}

    <div class="inputWrapper">
        <input type="text" class="inputText" required/>
        <span class="floating-label">Username</span>
    </div>
    <div class="inputWrapper">
        <input type="password" class="inputText" required/>
        <span class="floating-label">Password</span>
    </div>

    <input type="submit" value="Login" id="submitButton">
</form>
{% endblock %}