{# Page for user dashboard #}

{% extends 'search.html' %}

{% block defaultSearchScript %}
{% endblock %}

{% block title %}
Podcast Dashboard
{% endblock %}

{% block message %}
User Subscriptions
{% endblock %}

{% block noResultMessage %}
<span>No subscriptions found</span>
<div>
    <span>Suggestions:</span>
    <ul>
        <li>Make sure you are using the correct device</li>
        <li>Go explore the podcasts page</li>
    </ul>
</div>
{% endblock %}

{# makes no sense to sort subscriptions by tag #}
{% block sidebarTag %}
{% endblock %}
