{# Page for user dashboard #}

{% extends 'search.html' %}

{% block defaultSearchScript %}
{% load static %}
<script src="{% static 'website/js/dashboard.js' %}" type="text/javascript">
</script>
{% endblock %}

{% block morestylesheet %}
{% load static %}
<link href="{% static 'website/css/dashboard.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
Podcast Dashboard
{% endblock %}

{% block message %}
User Subscriptions
{% endblock %}

{% block noResultMessage %}
<span>No subscriptions found</span>
<div>
    <span>Suggestions:</span>
    <ul>
        <li>Make sure you are using the correct device</li>
        <li>Go explore the podcasts page</li>
    </ul>
</div>
{% endblock %}

{# makes no sense to sort subscriptions by tag #}
{% block sidebarTag %}
{% endblock %}

{% block freqLabel %}
<span id="statsLabelFrequency" title="episodes/day">Frequency</span>
{% endblock %}

{% block freq %}
<div class="stats">
    <span class="subscribers">
        {{ result.freq }}
    </span>
</div>
{% endblock %}

{% block sortOptions %}
<option value="highFreq">Highest Frequency</option>
<option value="lowFreq">Lowest Frequency</option>
{% endblock %}
