{# Page for showing full list of episodes from podcast #}

{% extends 'episode.html' %}

{% block scripts %}
{% load static %}
<script src="{% static 'website/js/episodes.js' %}" type="text/javascript"></script>
{% endblock %}

{% block contentSection %}
{% endblock %}

{% block episodeList %}
<section class="contentSection" id="podcastEpisodes">
    <div class="contentTitle">
        Episodes
        <small>
            ({{ episodeCount }} total)
        </small>
    </div>
    {% if episodeCount == 0 %}
    <h1>No Episodes Found</h1>
    {% else %}
    {% for episode in episodes %}
    {% if forloop.counter0 == 0 %}
    <div class="episodeSummary" style="margin-top: 0px" enum="{{ episode.enumeration }}">
    {% else %}
    <div class="episodeSummary" enum="{{ episode.enumeration }}">
    {% endif %}
        <div class="episodeTitle">
            <a href="/podcast/{{podcastName}}/episodes/{{episode.enumeration}}">
                {{ episode.title }}
            </a>
        </div>
        <div class="episodeRelease">
            <small>{{ episode.released }}</small>
        </div>
        <p>
            {{ episode.description }}
        </p>
    </div>
    {% if forloop.counter == episodes|length and episodeCount > episodes|length %}
    <a href="/podcast/{{ podcastName }}/episodes" id="moreEpisodesButton">
        Show All Episodes 
    </a>
    {% endif %}
    {% endfor %}
    {% endif %}
</section>
{% endblock %}

{% block episodesOptions %}
<div class="menuBox">
    <div class="menuBoxSection">
        Sort By:
        <select id="episodeSortOpt">
            <option value="newest">Newest First</option>
            <option value="oldest">Oldest First</option>
        </select>
    </div>
    <div class="menuBoxSection">
        Year:
        <select id="episodeYearRestrict">
            <option value="all">All</option>
        </select>
    </div>
</div> 
{% endblock %}
