{# Page for showing podcast details #}

{# subclass episodes in order to add description, fewer episodes are #}
{# displayed through the view, which lowers the episodes in the context #}

{% extends 'episodes.html' %}

{% block scripts %}
{% endblock %}

{% block contentSection %}
<section class="contentSection">
    <div class="contentTitle" id="podcastDesc">Description</div>
    <p>
        {{ podcast.description }}
    </p>
</section>
<section class="contentSection" id="podcastTags">
    <div class="contentTitle">Tags</div>
    <p>
        {% for word in keywords %} 
        <a href="/search?q={{ word }}">
            {{ word }} 
        </a>
        {% endfor %}
    </p>
</section>
{% endblock %}

{# only used in episodes.html template #}
{% block episodesOptions %}
{% if auth.loggedIn %}
<li>
    {% if subscribed %}
    <a href="/unsubscribe/{{ podcastName }}">Unsubscribe</a>
    {% else %}
    <a href="/subscribe/{{ podcastName }}">Subscribe</a>
    {% endif %}
</li>
{% endif %}
{% endblock %}
