{# Page for showing podcast details #}

{# subclass episodes in order to add description, fewer episodes are #}
{# displayed through the view, which lowers the episodes in the context #}

{% extends 'episodes.html' %}

{% block scripts %}
{% endblock %}

{% block contentSection %}
<section class="contentSection">
    <div class="contentTitle" id="podcastDesc">Description</div>
    <p>
        {{ podcast.description }}
    </p>
</section>
{% endblock %}

{# only used in episodes.html template #}
{% block episodesOptions %}
{% endblock %}
