{# Page for search results #}

{% extends 'template.html' %}

{% block stylesheets %}
{% load static %}
<link href="{% static 'website/css/search.css' %}" rel="stylesheet">
<link href="{% static 'website/css/search.mobile.css' %}" rel="stylesheet">
{% endblock %}

{% block scripts %}
{% block defaultSearchScript %}
<script type="text/javascript">
    var defaultSearchValue = "{{ query }}";
</script>
{% endblock %}
{% load static %}
<script src="{% static 'website/js/search.js' %}" type="text/javascript"></script>
{% endblock %}

{% block title %}
Podcast Search - {{ query }}
{% endblock %}

{% block content %}
<div id="searchResultMessage">
{% block message %}
Search results for <strong>{{ query }}</strong> by 
{% if tags %}
tag
{% else %}
keyword
{% endif %}:
{% endblock %}
</div>
<div id="searchResultHeader">
    <div id="podcastLabel">Podcast</div>
    <div id="statsLabel">
        <span id="statsLabelSubscribers">Subscribers</span>
    </div>
</div> 
<section id="content">
    {% if results|length > 0 %}
        {% for result in results %}
            {% if forloop.counter|divisibleby:2 %}
                <div class="searchResult odd" subs="{{ result.subscribers }}">
            {% else %}
                <div class="searchResult" subs="{{ result.subscribers }}">
            {% endif %}
                {# left side of search result #}
                <img src="{{ result.scaled_logo_url }}" class="thumbnail" 
                        onerror="this.src='{% static 'website/imgs/thumbnail.jpeg' %}'">

                {# right side of search result - show popularity of result #}
                <div class="stats">
                    <span class="subscribers">
                        {{ result.subscribers }}
                    </span>
                </div>
                {% block freq %}
                {% endblock %}

                {# center of search result - basic data like name and desc #}
                <div class="metadata">
                    <div class="title">
                        <a href="/podcast/{{ result.idName }}">
                            {{ result.title }}
                        </a>
                    </div>
                    <div class="description">{{ result.description }}</div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div id="noResultMessage">
            {% block noResultMessage %}
            <span>Your search did not return any results.</span>
            <div>
                <span>Suggestions:</span>
                <ul>
                    <li>Make sure that all words are spelled correctly</li>
                    <li>Try different keywords</li>
                    <li>Try more general keywords</li>
                    <li>Try fewer keywords</li>
                    <li>Explore podcasts by tag</li>
                </ul>
            </div>
            {% endblock %}
        </div>
    {% endif %}

    <div id="filterTooWideMesg">
        No search results found. Try loosening the range.
        <br><br>
        <label onclick="resetFilter();">Reset Filter</label>
    </div>

</section>
{% endblock %}

{% block sidebar %}
{% block sidebarTag %}
<li>
    {% if tags %}
    <a href="/search?q={{ query }}">Search by Keyword</a>
    {% else %}
    <a href="/tag?q={{ query }}">Search by Tag</a>
    {% endif %}
</li>
{% endblock %}
<div class="menuBox">
    <div class="menuBoxSection">
        Sort By:
        <select id="searchSortOpt">
            <option value="mostSubscribers">Most Subscribers</option>
            <option value="leastSubscribers">Least Subscribers</option>
            <option value="lexicAZ">Name A-Z</option>
            <option value="lexicZA">Name Z-A</option>
        </select>
    </div>
    <div class="menuBoxSection">
        <div style="margin-bottom: 5px">Number of Subscribers:</div>
        <input type="text" id="minSubs" placeholder="Minimum">
        <div style="text-align: center;">to</div>
        <input type="text" id="maxSubs" placeholder="Maximum">
    </div>
</div> 
{% endblock %}

