<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Podcast discovery and subscription manager">
    <meta name="keywords" content="podcast search discover">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

    <title>
      {% block title %} 
      Podcasts
      {% endblock %}
    </title>
    {% load static %}
    <!-- Fonts -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> -->
    <link href="{% static 'website/css/fonts/lato.css' %}" rel="stylesheet">
    <link href="{% static 'website/css/fonts/material-fonts.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'website/css/template.css' %}" rel="stylesheet">
    <link href="{% static 'website/css/template.mobile.css' %}" rel="stylesheet">

    <!-- Extra Stylesheets imported by Django -->
    {% block stylesheets %}
    {% endblock %}

    <!-- Javascript Libraries -->
    <script src="{% static 'website/js/jquery-3.3.1.min.js' %}" type="text/javascript"></script>

    <!-- Extra scripts imported by Django -->
    {% block scripts %}
    {% endblock %}

    <script src="{% static 'website/js/template.js' %}" type="text/javascript"></script>

  </head>
  <body>
    <!-- whitish layer above screen for menu -->
    <div id="bgOverlay"></div>

    <!-- Header section with title, search bar, and page navigation -->
    <header>
      <!-- Title section showing website name (left) -->
      <div id="titleSection">
        <!-- Button to show or hide sidebar on mobile device -->
        <div id="menuSidebarToggle" class="material-icons" title="Expand Menu">menu</div>
        <a href="/" id="title">
          Podcasts
          <span>Discover, Search, Share</span>
        </a>
      </div>

      <!-- Section with user profile button and page navigation menu -->
      <div id="settingsMenu">

        <!-- Button to close menu on mobile device -->
        <i id="navMenuClose" title="Close Menu" class="material-icons">close</i>

        <!-- Contracts to show first 3 links by default -->
        <ul id="navMenu" style="display: none">
          <li class="active">
            <a>Page 1</a>
          </li>
          <li>
            <a>Page 2</a>
          </li>
          <li>
            <a>Page 3</a>
          </li>
          <li>
            <a>Page 4</a>
          </li>
          <li>
            <a>Page 5</a>
          </li>

          <!-- Button to expand navigation menu to show past first 3 links -->
          <div id="navMenuToggle" title="Expand Menu">
            <div>&nbsp;</div>
          </div>
        </ul>

        <!-- Button to show settings menu on mobile devices -->
        <div id="navMenuToggleView" class="material-icons" style="display: none">apps</div>

        <!-- User profile menu button -->
        <div id="userMenuButton">
        </div>

        <!-- User profile itself -->
        <div id="userMenu">
          {# if user is logged in #}
          {% if auth.loggedIn %}
          <span>{{ auth.username }}</span>
          <a href="/dashboard">Dashboard</a>
          <a href="/suggestions">Suggestions</a>
          <a href="/devices">Devices</a>
          <a href="/logout">Logout</a>
          {% else %}
          <span>Not logged in</span>
          <a href="/login">Login</a>
          <a href="/register">Register</a>
          {% endif %}
        </div>

      </div>

      <!-- searchBarToggleStatus used to toggle minimized search bar -->
      <input type="checkbox" class="inputToggle" id="searchBarToggleStatus">
      <!-- Search bar -->
      <div id="searchBar">
        <label id="searchBarToggle" for="searchBarToggleStatus"></label>
        {% if tags %}
        <form action="/tag">
        {% else %}
        <form action="/search">
        {% endif %}
          <input type="text" name="q" id="searchInput" 
              placeholder="Search for podcasts">
          <label></label>
        </form>
      </div>
    </header>

    <!-- Main Section -->
    <section id="main">

      <!-- Side bar to the left of screen below header -->
      <div id="sidebar">
        <div id="sidebarHead">
          <i class="material-icons">arrow_back</i> 
        </div>
        <!-- Top section of sidebar with two circular buttons -->
        <div id="topSidebar">
          <a href="/dashboard" id="dashboardLink" title="User Dashboard"></a>
          <!-- <div id="notificationLink" title="Notifications"></div> -->
        </div>

        <!-- Bottom section of sidebar with vertically stacked links -->
        <ul id="menuSidebar">
          {% block sidebar %}
          {% endblock %}
        </ul>
      </div>

      <!-- <section id="content"> -->
      {% block content %}
      {% endblock %}

      <footer>
        <span>
          Copyright <i class="material-icons">copyright</i> 2018 Steven Shan
        </span>
        <div>
          <a href="https://github.com/stevenshan/podcast-service">
            Github
          </a>
          <a href="https://www.mindsumo.com/contests/podcast-engine">
            Challenge Site
          </a>
        </div>
      </footer>
    </section>

  </body>
</html>
