<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Podcast discovery and subscription manager">
    <meta name="keywords" content="podcast search discover">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Podcasts</title>

    <!-- Fonts -->
    <!-- https://fonts.googleapis.com/css?family=Lato -->
    <link href="css/fonts/lato.css" rel="stylesheet">
    <link href="css/fonts/material-fonts.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/template.css" rel="stylesheet" type="text/css">

    <!-- Javascript Libraries -->
    <script src="js/jquery-3.3.1.min.js" type="text/javascript"></script>

    <script src="js/template.js" type="text/javascript"></script>
  </head>
  <body>
    <header>
      <div id="titleSection">
        <a id="title">
          Podcasts
          <span>Discover, Search, Share</span>
        </a>
      </div>
      <div id="settingsMenu">
        <ul id="navMenu">
          <li class="active">
            <a>Page 1</a>
          </li>
          <li>
            <a>Page 2</a>
          </li>
          <li>
            <a>Page 3</a>
          </li>
          <li>
            <a>Page 4</a>
          </li>
          <li>
            <a>Page 5</a>
          </li>
          <div title="Expand Menu" id="navMenuToggle">
            &#9679;&#9679;&#9679; 
          </div>
        </ul>
        <div id="userMenu">
        </div>
      </div>
      <div id="searchBar">
        <form>
          <input type="text" name="query" id="searchInput" placeholder="Search for podcasts & subscriptions">
          <label></label>
        </form>
      </div>
    </header>
    <section id="main">
      <div id="sidebar">
        <div id="topSidebar">
          <div id="dashboardLink"></div>
          <div id="notificationLink"></div>
        </div>
        <ul id="menuSidebar">
          <li>
            <a>1</a>
          </li>
          <li class="active">
            <a>2</a>
          </li>
        </ul>
      </div>

      <section id="content">
        test
      </section>
    </section>
  </body>
</html>